<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Your Order</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="body">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="title is-3">Big Kahuna</div>
          </div>
          <p class="control">
            <input class="input is-medium" type="text" placeholder="Special Requests">
          </p>
          <div class="level-right">
            content
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-danger">Cancel</a>
      <p class="control has-addons has-addons-right">
          <span class="icon">
            <i class="fa fa-usd"></i>
          </span>
            <span class="total">
              12.00
            </span>
          <a class="button is-success">
            Checkout
          </a>
        </p>
    </footer>
  </div>
</div>
