<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Your Order</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="body">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="title is-5">Big Kahuna</div>
            <div class="title is-6">All the coffee</div>
          </div>
          <p class="control">
            <input class="input is-medium" type="text" placeholder="Special Requests">
          </p>
          <div class="level-right">
            <span class="icon">
              <i class="fa fa-usd"></i>
            </span>
              <span class="total">
                12.00
              </span>

          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="level level-space-between">
        <div class="level-item level-left is-expanded">
          {{#link-to "order-confirmation" class="button button--large is-success"}}
            Checkout
          {{/link-to}}
        </div>
        <div class="level-item level-right is-pulled-right">

          <span class="icon">
            <i class="fa fa-usd"></i>
          </span>
            <span class="total">
              12.00
            </span>
        </div>
      </div>
  </footer>
  </div>
</div>
