<div class="section section--less-padding">
  <div class="control is-grouped control-is-align">
    <div class="control is-expanded">
      <h1 class="title">Beat the Boot</h1>
    </div>
    <div class="control is-negative-margin">
      {{#link-to "login" class="button button--large is-info"}} Logout {{/link-to}}
    </div>
  </div>
</div>

<section class="section section--last-of-type">
  <div class="columns is-multiline">
    <div class="column is-12 is-no-padding">
      <div class="coffee-shop coffee-shop--height">
        <h1 class="coffee-shop__overlay">
            Steadfast
          </h1>
        <img src="images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
      </div>
    </div>
  </div>


  <div class="box">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="control">
          <div class="title is-3">Black Coffee</div>
          <p class="subtitle"></p>
        </div>
        <p class="title is-6 is-pulled-left">this coffee is black</p>
      </div>
      <div class="level-right">
        <p class="control has-addons has-addons-centered">
          <span class="select">
    <select>
      <option>select</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </span>
          <a class="button is-info">
    Add
  </a>
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="title is-3">White Cloud</div>
        <p class="title is-6 is-pulled-left">Loaded with white chocolate</p>
      </div>
      <div class="level-right">
        <p class="control has-addons has-addons-centered">
          <span class="select">
              <select>
                <option>select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </span>
          <a class="button is-info">
                Add
              </a>
        </p>

      </div>
    </div>
  </div>

  <div class="box">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="title is-3">Mocha Latte</div>
        <p class="title is-6 is-pulled-left">It's gotta lotta mocha</p>
      </div>
      <div class="level-right">
        <p class="control has-addons has-addons-centered">
          <span class="select">
              <select>
                <option>select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>

              </select>
            </span>
          <a class="button is-info">
            Add
          </a>
        </p>

      </div>
    </div>
  </div>
  <div class="box">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="title is-3">Mocha Latte</div>
        <p class="title is-6 is-pulled-left">It's gotta lotta mocha</p>
      </div>
      <div class="level-right">
        <p class="control has-addons has-addons-centered">
          <span class="select">
              <select>
                <option>select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>

              </select>
            </span>
          <a class="button is-info">
            Add
          </a>
        </p>

      </div>
    </div>
  </div>
  {{#link-to  "checkout-page" class="button button-is-br-none button--large is-fullwidth is-info" }}
    <span class="icon">
      <i class="fa fa-shopping-cart"></i>
    </span>
    <span>Checkout</span>
  {{/link-to}}
</section>
