<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-bold">
        Beat The Boot
      </h1>
    </div>
  </div>
</section>

<body>
  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title has-text-centered">Shop Name</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title has-text-centered">Menu</h1>
      </div>
    </div>
  </section>

  <section class="section">
  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="title is-3">Black Coffee</div>
        <p class="title is-6 is-pulled-left">this coffee is black</p>
      </div>
      <div class="level-right">
        <span class="icon is-active">
          <h4 class="qty is-pulled-left">0</h4>
          <i class="fa fa-sort"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="title is-3">White Cloud</div>
        <p class="title is-6 is-pulled-left">Loaded with white chocolate</p>
      </div>
      <div class="level-right">
        <span class="icon is-active">
          <h4 class="qty is-pulled-left">0</h4>
          <i class="fa fa-sort"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="title is-3">Mocha Latte</div>
        <p class="title is-6 is-pulled-left">It's gotta lotta mocha</p>
      </div>
      <div class="level-right">
        <span class="icon is-active">
          <h4 class="qty is-pulled-left">0</h4>
          <i class="fa fa-sort"></i>
        </span>
      </div>
    </div>
  </div>

</section>
      <nav class="level">
         <p class="level-item has-text-centered">
           <a class="link is-info">Home</a>
         </p>
         <p class="level-item has-text-centered">
           <a class="link is-info">Menu</a>
         </p>
         <p class="level-item has-text-centered">
           <img src="http://bulma.io/images/bulma-type.png" alt="" style="height: 33px;">
         </p>
         <p class="level-item has-text-centered">
           <a class="link is-info">Contact</a>
         </p>
         <p class="level-item has-text-centered">
           <a class="button is-success">Add</a>
         </p>
       </nav>

</body>
