

button.card-footer-item {
  font: inherit;
  background: $primary;
  border: 0;
  color: $white;
}

.hero-body.is-centered {
  display: flex;
  justify-content: center;

  .card {
    border-radius: 5px;
    width: 700px;
  }
}
