
.box   {
  background: $grey-lighter;
  border: 0.1rem solid $grey-light;
}

.level-left  {
  display: inline;
}

.footer  {
  background: white;
  text-decoration: none;
}

.button--large {
  padding: 1.5rem;
  font-size: 1.3rem;
}

.section--last-of-type {
  :last-of-type {
    margin: 0;
  }
}

.coffee-shop--height {
  height: 20rem;

  @media(max-width: 550px) {
    height: auto;
  }
}

.section--less-padding {
  padding: 0 20px;
}

.control-is-align {
  align-items: center;
}

.select {
  display: flex;
  flex-grow: 1;
  padding-right: 0.75rem;
}

.control__add {
  display: flex;
  flex-direction: row;
}
