$primary: #143053;
$info: #143053;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'bulma';
@import 'ember-power-select';
@import 'reset';
@import 'box-sizing';
@import 'login';
@import '_menu-items';
@import 'home-page';
@import 'modal';
@import 'coffee-shop-account';
@import 'shop-account-menu';
@import 'map';
@import 'add-menu';
@import 'register_shop-info';
@import 'register';

.control {
  margin-top: 0.5rem;
}

.ember-power-select-status-icon {
  display: none;
}

.alerts {
  position: fixed;

  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 99;

  display: flex;
  flex-direction: column;

  width: calc(100% - 1rem);
  max-width: 40rem;

  .message {
    margin: 0.5rem 0;
  }
}

.title.is-1.has-text-centered {
  margin-top: 5rem;
}

.helper {
  padding: 0 2.5rem;
}

.is-outlined {
  border-width: .2rem;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .menu--left {
    width: 45rem;
    padding: .5rem;
  }
  .menu--middle {
    width: 50rem;
    text-align: left;
    padding: .5rem;
  }

  .menu--right {
    display: flex;
    align-items: center;
    padding-right: .5rem;

    p {
      margin: 0;
      padding-right: 1rem;
    }
  }


}
