<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Your Directions</p>
      {{#link-to "home-page"}}
      <button class="delete"></button>
      {{/link-to}}

    </header>
      <section class="modal-card-body">
        <div class="body">
          {{#leaflet-map class="map" lat=lat lng=lng zoom=zoom}}

          {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

          {{#marker-layer location=emberConfLocation}}
          {{#popup-layer}}
          <h3>The Oregon Convention Center</h3>
          777 NE Martin Luther King Jr Blvd<br>
          Portland, OR 97232
          {{/popup-layer}}
          {{/marker-layer}}

          {{#marker-layer location=hotel}}
          {{#popup-layer}}
          <h3>Hotel</h3>
          {{/popup-layer}}
          {{/marker-layer}}

          {{/leaflet-map}}
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="level level-space-between">
          <div class="level-item level-right is-pulled-right">
            <a class="button button--large is-info">
            Find Parking
          </a>

          </div>
        </div>
    </footer>
    </div>
  </div>
