<div class="hero hero--adjust">
  <div class="control is-grouped">
    <div class="control is-expanded">
      <h1 class="title">Beat the Boot</h1>
    </div>
    <div class="control is-negative-margin">
       {{#link-to "login" class="button button--large is-info" }}logout{{/link-to}}
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-12 is-no-padding">
      <p class="control has-icon has-icon-left">
        <input class="input">
        <i class="fa fa-search"></i>
      </p>
    </div>
    <div class="column is-12 is-no-padding">
      <div class="coffee-shop">
        <h1 class="coffee-shop__overlay">
          Steadfast
        </h1>
        <img src="images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
      </div>
    </div>
    <div class="column is-12 is-no-padding">
      <div class="coffee-shop">
        <h1 class="coffee-shop__overlay">
          Steadfast
        </h1>
        <img src="images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
      </div>
    </div>
  </div>
</div>
