<div class="heading">
  <h1 class="title is-1 has-text-centered">Beat the Boot</h1>
</div>

<div class="hero hero--adjust">
  <div class="hero-body is-centered">
    <div class="columns">
      <div class="column">
        <p class="control has-icon has-icon-left">
          <input class="input">
          <i class="fa fa-search"></i>
        </p>
      </div>
      <div class="column">
        <img src="images/Coffee-shop1.jpeg" alt="">
      </div>
      <div class="column">
        <img src="images/Coffee-shop2.jpeg" alt="">
      </div>
    </div>
  </div>
</div>
