
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Mark Parking</p>
      {{#link-to "coffee-shop-account.account"}}
      <button class="delete"></button>
      {{/link-to}}

    </header>
      <section class="modal-card-body">
        <div class="body">
          {{#leaflet-map class="map" lat=lat lng=lng zoom=zoom onClick=(action "addParkingMarker")}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

            {{#each model.parking.points as |spot|}}
              {{marker-layer lat=spot.lat lng=spot.lng draggable=true onDragend=(action "updateLocation" spot)}}
            {{/each}}

            {{#polygon-layer locations=dangerZone color="red"}}
              {{#tooltip-layer sticky=true}}
                DANGER ZONE
              {{/tooltip-layer}}
            {{/polygon-layer}}

          {{/leaflet-map}}
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="level level-space-between">
          <div class="level-item level-right is-pulled-right">
            <a class="button button--large is-info">
            Find Parking
          </a>

          </div>
        </div>
    </footer>
    </div>
  </div>
