<div class="section section--less-padding">
  <div class="control is-grouped control-is-align">
    <div class="control is-expanded">
      <h1 class="title">Beat the Boot</h1>
    </div>
    <div class="control is-negative-margin">
      {{#link-to "login" class="button button--large is-info" }} Logout {{/link-to}}
    </div>
  </div>
</div>
<div class="section">
  <div class="tabs is-boxed is-medium">
    <ul>
      <li class="is-active">
        {{#link-to "coffee-shop-account.account" }}
          <span class="icon is-small"><i class="fa fa-user"></i></span>
          <span>Account</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "coffee-shop-account.menu"}}
          <span class="icon is-small"><i class="fa fa-cutlery"></i></span>
          <span>Menu</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "coffee-shop-account.incoming-orders"}}
          <span class="icon is-small"><i class="fa fa-tasks"></i></span>
          <span>Incoming orders</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
   {{outlet}}
</div>
