<div class="section">
  <div class="control is-grouped control-is-align">
    <div class="control is-expanded">
      <h1 class="title">Beat the Boot</h1>
    </div>
    <div class="control is-negative-margin">
      {{#link-to "login" class="button button--large is-info" }} Logout {{/link-to}}
    </div>
  </div>
</div>
<div class="section">
  {{bulma-tabs tabs=tabs class="is-boxed"}}
  <div class="columns is-multiline">
    <div class="column is-12 is-no-padding">
      <div class="coffee-shop coffee-shop--height">
        <h1 class="coffee-shop__overlay">
          {{currentUser.user.shop.name}}
        </h1>
        <img src="/images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
      </div>
    </div>
  </div>

  {{!-- <div class="tabs is-boxed is-medium">
  </div> --}}
   {{outlet}}
</div>
