<div class="section section--less-padding">
  <div class="control is-grouped control-is-align">
    <div class="control is-expanded">
      <h1 class="title">Beat the Boot</h1>
    </div>
    <div class="control is-negative-margin">
      {{#link-to "login" class="button button--large is-info"}} Logout {{/link-to}}
    </div>
  </div>
</div>
<div class="section">
  <div class="level">
    {{!-- {{#link-to "coffee-shop-account.account-info"  class="button is-fullwidth is-large is-info"}} Account {{/link-to}}
    {{#link-to  "coffee-shop-account.menu-list" class="button is-fullwidth is-large is-primary"}} Menu {{/link-to}}
    {{#link-to  "coffee-shop-account.incoming-orders" class="button is-fullwidth is-large success"}} Incoming orders {{/link-to}} --}}
    <a href="" class="button is-fullwidth is-large is-info">Account</a>
    <a href="" class="button is-fullwidth is-large is-primary">Menu</a>
    <a href="" class="button is-fullwidth is-large is-success">Incoming orders</a>
  </div>
</div>
