<div class="columns is-multiline">
  <div class="column is-12 is-no-padding">
    <div class="coffee-shop coffee-shop--height">
      <h1 class="coffee-shop__overlay">
          Steadfast
        </h1>
      <img src="/images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
    </div>
  </div>
</div>
<div class="box">
  {{#link-to "coffee-shop-account.account" class=" is-pulled-right " }}back{{/link-to}}
  <table class="table table-background">
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="is-pulled-right button is-small is-danger">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
