<div class="box">
  {{#link-to "coffee-shop-account.account" class=" is-pulled-right " }}back{{/link-to}}
  <table class="table table-background">
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Black Coffee</td>
        <td>Bold flavorful tatse</td>
        <td>
          {{!-- a tag or link-to or just a button im not sure --}}
          $2.50
          <a href="" class="is-pulled-right button is-small is-danger">delete</a>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Black Coffee</td>
        <td>Bold flavorful tatse</td>
        <td>$2.50
          <a href="" class="is-pulled-right button is-small is-danger">delete</a>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Black Coffee</td>
        <td>Bold flavorful tatse</td>
        <td>$2.50
          <a href="" class="is-pulled-right button is-small is-danger">delete</a>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
</div>
