<form class="form">
  <div class="card-body">
    {{#link-to "coffee-shop-account.menu" class=" is-pulled-right" }}Back{{/link-to}}
  </div>
  <label class="label">Menu Item</label>
  <p class="control">
    <input class="input" type="text" placeholder="Menu Item">
  </p>
  <label class="label">Short description of item</label>
  <p class="control">
    <input class="input" placeholder="Description">
  </p>
  <label class="label">Price</label>
  <p class="control">
    <input class="input" type="text" placeholder="Price">
  </p>

  <div class="card-footer">
    <button class="card-footer-item">Submit</button>
  </div>
</form>
