<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Your Order is Complete!</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="body">
        <article class="message is-success">
          <div class="message-header">
            Your Order is Complete!
          </div>
          <div class="message-body">
              <h4>Order Details</h4>
              <h4>Order ETA</h4>
          </div>
        </article>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="level level-space-between">
        <div class="level-item level-left is-expanded">
          <a class="button button--large is-info">
            Directions
        </a>
        </div>
        <div class="level-item level-right is-pulled-right">
          <a class="button button--large is-info">
          Parking
        </a>

        </div>
      </div>
  </footer>
  </div>
</div>
