<div class="coffee-shop">
  <h1 class="coffee-shop__overlay">
    {{ shop.name }}
  </h1>
  {{#if shop.profilePicUrl}}
    <img src="http://localhost:3333/uploads/{{shop.profilePicUrl}}" class="coffee-shop__pic" alt="">
  {{else}}
    <img src="/images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
  {{/if}}
</div>
