<div class="hero is-medium">
  <div class="heading">
    <h1 class="title is-1 has-text-centered">Add Menu Items</h1>
  </div>
  <div class="hero-body is-centered">
    <div class="card">
      <div class="card-content">
        <h1 class="title has-text-centered">Menu</h1>
        <label class="label">Beverage</label>
        <p class="control">
          <input class="input" type="text" placeholder="Beverage">
        </p>
        <p class="control">
          <label class="label">Size</label>
          <span class="select">
           <select>
             <option>small</option>
             <option>medium</option>
             <option>large</option>
           </select>
        </span>
        </p>
        <label class="label">Description</label>
        <p class="control">
          <textarea class="input" type="text" placeholder="Description"></textarea>
        </p>
        <label class="label">Price</label>
        <p class="control has-icon has-icon-left">
          <input class="input" type="text">
          <i class="fa fa-money"></i>
        </p>
      </div>
      <div class="card-footer">

        <button class="card-footer-item">Submit</button>
      </div>
    </div>
  </div>
</div>
