<div class="hero is-medium">
  <div class="heading">
    <h1 class="title is-1 has-text-centered">Add Menu Items</h1>
  </div>
  <div class="hero-body is-centered">
    {{#simple-form onsubmit=(action "addItem") class="card" as |formValues|}}

      <div class="card-content">
        <h1 class="title has-text-centered">Menu</h1>
        <label class="label">Name of Drink</label>
        <p class="control">
          {{input class="input" required="true" type="text" placeholder="Drink" value=formValues.drink}}
        </p>

        <p class="control">
          <label class="label">Size</label>
          <span class="select is-fullwidth">
           {{#power-select
           options=sizes
           selected=selected
           placeholder="Please Select Size"
           onchange=(action (mut selected))
            as |size|
          }}
            {{size}}
            {{/power-select}}
        </span>
        </p>
        <label class="label">Description</label>
        <p class="control">
          {{input class="input" required="true" type="textarea" placeholder="Description" value=formValues.description}}
        </p>
        <label class="label">Price</label>
        <p class="control has-icon has-icon-left">
          {{input class="input" required="true" type="text" placeholder="Price" value=formValues.price}}
          <i class="fa fa-money"></i>
        </p>
      </div>
      <div class="card-footer">
        <button class="card-footer-item">Submit</button>
      </div>
    {{/simple-form}}
  </div>
</div>
