<div class="card">
  <div class="card-content">
    <h1 class="title has-text-centered">Login</h1>
    <label class="label">Email</label>
    <p class="control">
      <input class="input" type="text" placeholder="Email">
    </p>
    <label class="label">Password</label>
    <p class="control">
      <input class="input" type="text" placeholder="Password">
    </p>
    <p class="control">
    </p>
  </div>
  <div class="card-footer">

    <a class="card-footer-item">Register</a>
    <button class="card-footer-item">Login</button>
  </div>
</div>
