<div class="columns is-multiline">
  <div class="column is-12 is-no-padding">
    <div class="coffee-shop coffee-shop--height">
      <h1 class="coffee-shop__overlay">
          {{currentUser.user.shop.name}}
        </h1>
      <img src="/images/Coffee-shop2.jpeg" class="coffee-shop__pic" alt="">
    </div>
  </div>
</div>



<div class="box">
  {{outlet}}
</div>
