{{#link-to "coffee-shop-account.account.edit" class=" is-pulled-right " }}Edit{{/link-to}}
<table class="table" style="background: inherit;">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Steadfast</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nashville</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tennessee</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>zip/postal code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>37209</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(800)622-6222</td>
    </tr>
  </tbody>

</table>
