<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Your Directions</p>
      {{#link-to "app.shops"}}
        <button class="delete"></button>
      {{/link-to}}

    </header>
    <section class="modal-card-body">
      <div class="body">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=Current%20Location&destination={{model.shop.address}}&key=AIzaSyA5D_Id3AxIjerACjWPfEPmdXqzesfi14M" allowfullscreen></iframe>
      </div>
    </section>
    <footer class="modal-card-foot">
      <a href="https://www.google.com/maps/dir//{{ model.shop.address }}" target="_blank" class="button is-fullwidth button--large is-primary">See On Google</a>
      {{#link-to "app.order-confirmation.parking" class="button button--large is-info is-fullwidth"}}
        Find Parking
      {{/link-to}}
    </footer>
  </div>
</div>
