<form class="form">
  <div class="card-body">
    {{#link-to "coffee-shop-account.account" class=" is-pulled-right" }}Back{{/link-to}}
  </div>
  <label class="label">Name of coffee shop</label>
  <p class="control">
    <input class="input" type="text" placeholder="Name of coffee shop">
  </p>
  <label class="label">Short description of your shop</label>
  <p class="control">
    <textarea class="textarea" placeholder="description"></textarea>
  </p>
  <label class="label">Image of your coffee shop</label>
  <p class="control">
    <input class="input" type="text" placeholder="url">
  </p>
  <label class="label">Address</label>
  <p class="control">
    <input class="input" type="text" placeholder="Address">
  </p>
  <label class="label">City</label>
  <p class="control">
    <input class="input" type="text" placeholder="City">
  </p>
  <label class="label">State</label>
  <p class="control">
    <input class="input" type="text" placeholder="State">
  </p>
  <label class="label">zip/postal Code</label>
  <p class="control">
    <input class="input" type="text" placeholder="zip/postal code">
  </p>
  <label class="label">Phone Number</label>
  <p class="control">
    <input class="input" type="text" placeholder="Phone Number">
  </p>

  <div class="card-footer">
    <button class="card-footer-item">Submit</button>
  </div>
</form>
