<div class="hero is-medium">
  <div class="heading">
    <h1 class="title is-1 has-text-centered">Register your Coffee shop</h1>
  </div>
  <div class="hero-body is-centered">
    <div class="card">
      <div class="card-content">
        <label class="label">name of coffee shop</label>
        <p class="control">
          <input class="input" type="text" placeholder="your coffee shop">
        </p>
        <label class="label">Short description of your shop</label>
        <p class="control">
          <textarea class="textarea" placeholder="description"></textarea>
        </p>
        <label class="label">Image of your coffee shop</label>
        <p class="control">
          <input class="input" type="text" placeholder="Url">
        </p>
        <label class="label">Address</label>
        <p class="control">
          <input class="input" type="text" placeholder="address">
        </p>
        <label class="label">City</label>
        <p class="control">
          <input class="input" type="text" placeholder="city">
        </p>
        <label class="label">State</label>
        <p class="control">
          <input class="input" type="text" placeholder="city">
        </p>
        <label class="label">ZIP/postal Code</label>
        <p class="control">
          <input class="input" type="text" placeholder="zip or postal code">
        </p>
        <label class="label">Phone Number</label>
        <p class="control">
          <input class="input" type="text" placeholder="phone number">
        </p>
      </div>
      <div class="card-footer">
        <a class="card-footer-item button is-primary">Register</a>
      </div>
    </div>
  </div>
</div>
