{{#link-to "coffee-shop-account.menu.add" class=" is-pulled-right " }}add{{/link-to}}
<table class="table table-background">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Black Coffee</td>
      <td>Bold flavorful tatse</td>
      <td>$2.50</td>
      <td>{{#link-to "coffee-shop-account.menu.edit" class="is-pulled-right button is-small is-primary" }}Edit{{/link-to}}</td>
    </tr>
    <tr>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Black Coffee</td>
      <td>Bold flavorful tatse</td>
      <td>$2.50</td>
      <td>{{#link-to "coffee-shop-account.menu.edit" class="is-pulled-right button is-small is-primary" }}Edit{{/link-to}}</td>
    </tr>
    <tr>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Black Coffee</td>
      <td>Bold flavorful tatse</td>
      <td>$2.50</td>
      <td>{{#link-to "coffee-shop-account.menu.edit" class="is-pulled-right button is-small is-primary" }}Edit{{/link-to}}</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
